.mint{
  background-color: #ff1290;
align-items: center;
background-position: 0 0;
border: 1px solid #ff1290;
border-radius: 11px;
box-sizing: border-box;
color: #ffffff;
cursor: pointer;
display: flex;
font-size: 1rem;
font-weight: 700;
line-height: 33.4929px;
list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
padding: 2px 12px;
text-align: left;
text-decoration: none;
text-shadow: none;
text-underline-offset: 1px;
transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
word-break: break-word;
position: absolute;

margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


.mint:active,
.mint:hover,
.mint:focus {
outline: 0;
}


.mint:active {
background-color: #ff1391;
box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
color: #FFFFFF;
}

.mint:hover {
background-color: #ff76bf;
border-color: #ff4dac;
}

.mint:active:hover,
.mint:focus:hover,
.mint:focus {
background-color: #ff1c95;
box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
color: #FFFFFF;
}
}
.connect{
  background-color: #ff1290;
align-items: center;
background-position: 0 0;
border: 1px solid #ff2f9e;
border-radius: 11px;
box-sizing: border-box;
color: #ffffff;
cursor: pointer;
display: flex;
font-size: 1rem;
font-weight: 700;
line-height: 33.4929px;
list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
padding: 2px 12px;
text-align: left;
text-decoration: none;
text-shadow: none;
text-underline-offset: 1px;
transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
word-break: break-word;
float: right;
font-family: Trebuchet MS;
}
.select{
background-color: #ff1290;
align-items: center;
background-position: 0 0;
border: 1px solid #ff1290;
border-radius: 11px;
box-sizing: border-box;
color: #ffffff;
cursor: pointer;
display: flex;
font-size: 1rem;
font-weight: 700;
line-height: 33.4929px;
list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
padding: 2px 12px;
text-align: left;
text-decoration: none;
text-shadow: none;
text-underline-offset: 1px;
transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
word-break: break-word;
float: right;
font-family: Trebuchet MS;
margin-right: 20px;
width: 200px;
height: 35px;
margin-top: 2px;
}
.PolkadotPunks{
  color: #E6007A; font-family: Trebuchet MS
}
.identicons{
  float: right;
  margin-top: 3px;
}
.hr2{
  height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px  #E6007A;
    margin-top: 500px;
}
.icon{
  float: right;
  margin-top: 2px;
  margin-right: 7px;
}
.count{
  color: #E6007A;
   font-family: Trebuchet MS;
  text-align: center;
  margin-top: 150px;
}
.fee{
  color: #E6007A;
  font-family: Trebuchet MS;
 text-align: center;
 margin-top: 5px;
}
.hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #d5d5d5, rgba(190, 190, 190, 0));
}
.teleport{
  background-color: #ff1290;
align-items: center;
background-position: 0 0;
border: 1px solid #ff1592;
border-radius: 11px;
box-sizing: border-box;
color: #ffffff;
cursor: pointer;
display: flex;
font-size: 1rem;
font-weight: 700;
line-height: 33.4929px;
list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
padding: 2px 12px;
text-align: left;
text-decoration: none;
text-shadow: none;
text-underline-offset: 1px;
transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
word-break: break-word;
position: absolute;
  top: 50%;
      position: fixed;
   left: 50%;
   top:50%;
     margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
 right: 0;
  height: 40px;
width: 100px;

.mint:active,
.mint:hover,
.mint:focus {
outline: 0;
}


.mint:active {
background-color: #ff1391;
box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
color: #FFFFFF;
}

.mint:hover {
background-color: #ff76bf;
border-color: #ff4dac;
}

.mint:active:hover,
.mint:focus:hover,
.mint:focus {
background-color: #ff1c95;
box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
color: #FFFFFF;
}}
.logo{
  width:  15px;
  margin-left: 90%;
}
.Price{
  color: #E6007A;
   font-family: Trebuchet MS;
  text-align: center;
  margin-top: 20px;
}
